* {
    box-sizing:border-box;
    font-size:large;
}

body {
    margin:0;
    background-color:lightblue;
}

.mainbody {
    margin-top: 80px;
    padding: 25px;
    
}

.navbar {
    overflow:hidden;
    position:fixed;
    top:0;
    height:80px;
    width: 100%;
    background-color:darkgray;
    display:flex;
    align-items:center;
    justify-content: space-around;
    border-width:0px;
    border-spacing:0px;
}

button.link {
    font-size:30px;
    width:200px;
    height:80px;
    padding-block: 0px;
}

button {
    height:40px;
}

.linkbox {
    height:80px;
}

.navtable {
    width:100%;
    padding:0px;
    border-width:0px;
    border-spacing:0px;
}
.navtable_body {
    padding:0px;
    border-width:0px;
    border-spacing:0px;
}