
body {
    background-color:lightblue;
    border-color:#000000;
    margin:0;
    padding:30px;
    
    border-width:20px;
    border-style:inset;
    * {
        box-sizing:border-box;
        font-size:large;
    }
    .col {
        float:left;
        width:50%;
    }
    
}

