
body {
    background-color:lightblue;
    * {
        box-sizing:border-box;
        background-color: rgb(238, 238, 238);
        font-size:large;
    }
    .col {
        background-color: white;
        float:left;
        width:50%;
    }
    .row {
        background-color: white;
    }
    border-color:black;
    border-width:10px;
    border-style:outset;
}

